@using CV_storage.Core.Enums
@model CvItemViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
    string headerPart = $"{Model.FirstName} {Model.LastName}'s";
}

<h2>Edit @headerPart CV</h2>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    <div class="col">
        <h3>Cv Main Information</h3>
        @Html.EditorFor(m => m, "CvEdit")
        <div class="border border-dark border-1 mb-3"></div>

        <h3>Address Information</h3>
        @Html.EditorFor(m => m.MainAddress, "AddressEdit")
        <div class="border border-dark border-1 mb-3"></div>

        <h3>Job Experience</h3>
        @Html.EditorFor(m => m.JobExperience, "JobExperienceEdit")
        <button id="add-job-item" type="button" class="btn btn-success mb-3">Add Job Experience</button>
        <div class="border border-dark border-1 mb-3"></div>

        <h3>Gained Skills</h3>
        @Html.EditorFor(m => m.GainedSkill, "GainedSkillEdit")
        <button id="add-skill-item" type="button" class="btn btn-success mb-3">Add Skill</button>
        <div class="border border-dark border-1 mb-3"></div>

        <h3>Educational Information</h3>
        @Html.EditorFor(m => m.Education, "EducationEdit")
        <button id="add-education-item" type="button" class="btn btn-success mb-3">Add Education</button>
        <div class="border border-dark border-1 mb-3"></div>

        <h3>Language Information</h3>
        @Html.EditorFor(m => m.LanguageKnowledge, "LanguageListEdit")
        <button id="add-language-item" type="button" class="btn btn-success mb-3">Add Language</button>
        <div class="border border-dark border-1 mb-3"></div>

        <h3>Additional Information</h3>
        @Html.EditorFor(m => m.AdditionalInformation, "AdditionalInformationEdit")
    </div>

    <div class="btn-group" role="group">
        <button asp-action="Index" class="btn btn-primary mb-3">Back to List</button>
        <button type="submit" class="btn btn-primary mb-3">Update</button>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function(){

            function AddSectionItem(sectionName, divCount, sectionClass){
                $(`#add-${sectionName}-item`).on("click", function () {
                    const itemCount = $(`#${sectionName}-section`).find("div.mb-3").length / divCount;

                    $.get(`/${sectionClass}/Add${sectionClass}SectionItem?itemCount=${itemCount}`, function (data, status) {
                        $(`#${sectionName}-section`).append(data);
                    })
                })

                $(`#${sectionName}-section`).on("click", `.delete-${sectionName}`, function () {
                    const id = $(this).attr("id");

                    $.post(`/${sectionClass}/Delete${sectionClass}Item`, { "id": id }, function (data, status) {
                        window.location.reload();
                    })
                })
            }

            AddSectionItem("language", 2, "Language");
            AddSectionItem("education", 8, "Education");
            AddSectionItem("job", 6, "JobExperience");
            AddSectionItem("skill", 3, "GainedSkill");
        })
    </script>
}