@model CvListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Welcome To Curriculum Vitae Storage</h1>
        <p>Create, Update or Delete your CV</p>
    </div>

    @if (Model.CvItems.Any())
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Lastname</th>
                <th>E-mail</th>
                <th>Phone number</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var cv in Model.CvItems)
            {
                <tr>
                    <td>
                        @cv.Id
                    </td>
                    <td>
                        @cv.FirstName
                    </td>
                    <td>
                        @cv.LastName
                    </td>
                    <td>
                        @cv.Email
                    </td>
                    <td>@cv.PhoneNumber</td>
                    <td class="d-flex">
                        <div class="me-3">
                            @using (Html.BeginForm("Edit", "Home", FormMethod.Get))
                            {
                                <input type="hidden" name="id" value="@cv.Id" />
                                <input id="submit" type="submit" value="Edit" class="btn btn-info" />
                            }
                        </div>

                        <div class="me-3">
                            @using (Html.BeginForm("Print", "Home", FormMethod.Get))
                            {
                                <input type="hidden" name="id" value="@cv.Id" />
                                <input id="submit" type="submit" value="Print" class="btn btn-success" />
                            }
                        </div>

                        <div>
                            @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value="@cv.Id"/>
                                <input id="submit" type="submit" value="Delete" class="btn btn-danger"/>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <span class="alert alert-warning">No items found</span>
    }

    @Html.ActionLink("Create", "Create", "Home", new {}, new {@class = "btn btn-success"})
</div>
