@model CvItemViewModel

@{
    ViewData["Title"] = "Print";
    string headerPart = $"{Model.FirstName} {Model.LastName}";
    //size: 7in 9.25in;
    //margin: 27mm 16mm 27mm 16mm;
}

<h2>CV Print view for @headerPart</h2>
@using (Html.BeginForm("Print", "Home", FormMethod.Get))
{
    <section>
        @Html.EditorFor(m => m, "CvMainInfoAndContactsPrint")

        <div class="row">
            <div class="col">
                @Html.EditorFor(m => m.JobExperience, "CvJobExperiencePrint")
            </div>

            <div class="col">
                @Html.EditorFor(m => m.GainedSkill, "CvTechnicalSkillPrint")
                <div class="border border-dark border-1 my-4"></div>

                @Html.EditorFor(m => m.Education, "CvEducationPrint")
                <div class="border border-dark border-1 my-4"></div>

                @Html.EditorFor(m => m.LanguageKnowledge, "CvLanguagePrint")
                <div class="border border-dark border-1 my-4"></div>

                @Html.EditorFor(m => m.GainedSkill, "CvSoftSkillPrint")
            </div>
        </div>
    </section>

    <div class="btn-group w-25" role="group">
        <button asp-action="Index" class="btn btn-primary mb-3">Back to List</button>
        <button asp-action="Edit" class="btn btn-primary mb-3">Back to Edit</button>
    </div>
}