@using CV_storage.Core.Enums
@model CvItemViewModel

@{
    var lastElement = Model.LanguageKnowledge.Count - 1;
}

<div id="language_@lastElement">
    @Html.HiddenFor(m => m.LanguageKnowledge[lastElement].Id)
    <div class="mb-3">
        @Html.LabelFor(m => m.LanguageKnowledge[lastElement].Language, "Language")
        @Html.TextBoxFor(m => m.LanguageKnowledge[lastElement].Language, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.LanguageKnowledge, "Language knowledge level")
        <select asp-for="@Model.LanguageKnowledge[lastElement].LanguageLevel" asp-items="Html.GetEnumSelectList<KnowledgeLevel>()">
            <option value="">Please select</option>
        </Select>
    </div>
    <button type="button" id="@Model.LanguageKnowledge[lastElement].Id" class="btn btn-danger delete-language">Remove Language</button>
    <hr/>
</div>
