@using CV_storage.Core.Enums
@model List<EducationViewModel>

<h3>Education</h3>
@for (int i = 0; i < Model.Count; i++)
{
    <div>
        @{
            var endDate = String.IsNullOrEmpty(@Model[i].EducationEndDate) ? "" : " - " + @Model[i].EducationEndDate;
            var date = $"{@Model[i].EducationStartDate}{endDate}";
            var department = String.IsNullOrEmpty(@Model[i].Department) ? "" : " in " + @Model[i].Department + " department";
            var degree = @Model[i].Degree.Value == DegreeInformation.Other ? "" : @Model[i].Degree.Value.ToString() + " of ";
        }

        <p>@Model[i].EducationalEstablishment</p>
        <p>@degree@Model[i].Faculty@department</p>
        <p>@date</p>
        <p>Status: @Model[i].Status</p>

    </div>
}