@using CV_storage.Core.Enums
@model CvItemViewModel

@{
    var lastElement = Model.JobExperience.Count - 1;
}

<div id="job_@lastElement">
    @Html.HiddenFor(m => m.JobExperience[lastElement].Id)
    <div class="mb-3">
        @Html.LabelFor(m => m.JobExperience[lastElement].CompanyName, "Name of Company")
        @Html.TextBoxFor(m => m.JobExperience[lastElement].CompanyName, new { @class = "form-control"})
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.JobExperience[lastElement].Position, "Position")
        @Html.TextBoxFor(m => m.JobExperience[lastElement].Position, new { @class = "form-control"})
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.JobExperience[lastElement].JobDescription, "Describe the Job")
        @Html.TextAreaFor(m => m.JobExperience[lastElement].JobDescription, new { @class = "form-control"})
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.JobExperience, "Workload")
        <select asp-for="@Model.JobExperience[lastElement].Workload" asp-items="Html.GetEnumSelectList<WorkLoad>()">
            <option value="">Please select</option>
        </Select>
    </div>
    
    <div class="row">
        <div class="mb-3 col">
            @Html.LabelFor(m => m.JobExperience[lastElement].EmploymentStartDate, "Employment Start Date")
            @Html.TextBoxFor(m => m.JobExperience[lastElement].EmploymentStartDate, new { @class = "form-control", type = "date" })
        </div>
        <div class="mb-3 col">
            @Html.LabelFor(m => m.JobExperience[lastElement].EmploymentEndDate, "Employment End Date")
            @Html.TextBoxFor(m => m.JobExperience[lastElement].EmploymentEndDate, new { @class = "form-control", type = "date" })
        </div>
    </div>

    <button type="button" id="@Model.JobExperience[lastElement].Id" class="btn btn-danger delete-job">Remove Job Experience</button>
    <hr class="my-4"/>
</div>
