@using CV_storage.Core.Enums
@model CvItemViewModel

@{
    var lastElement = Model.GainedSkill.Count - 1;
}

<div>
    @Html.HiddenFor(m => m.GainedSkill[lastElement].Id)
    <div class="mb-3">
        @Html.LabelFor(m =>m.GainedSkill[lastElement].Skill, "Skill")
        @Html.TextBoxFor(m => m.GainedSkill[lastElement].Skill, new { @class = "form-control"})
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.GainedSkill[lastElement].SkillDescription, "Describe the Skill")
        @Html.TextBoxFor(m => m.GainedSkill[lastElement].SkillDescription, new { @class = "form-control"})
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.GainedSkill, "Type of Skill")
        <select asp-for="@Model.GainedSkill[lastElement].SkillType" asp-items="Html.GetEnumSelectList<TypeOfSkill>()">
            <option value="">Please select</option>
        </Select>
        <button type="button" id="@Model.GainedSkill[lastElement].Id" class="btn btn-danger delete-skill">Remove The Skill</button>
    </div>
    <hr />
</div>
